# Usage
# pip install -r requirements.txt

# Custom lib --------------------------------------------------------------

# General libraries
ipywidgets==8.0.4
numpy==1.26.3

# LLM libraries
sentence-transformers==2.2.2
transformers==4.38.1
tokenizers==0.15.0
datasets==2.15.0
accelerate==0.21.0
tiktoken==0.5.2
peft==0.4.0
trl==0.4.7

# Extensions
tenacity==8.2.3
pydantic==1.10.8
umap-learn==0.5.5
urllib3==1.26.6
einops==0.6.1

# Default lib --------------------------------------------------------------

# General libraries
scikit-learn
nbimporter
html2text
python-dotenv
unidecode
html5lib
matplotlib
seaborn
numba
pyyaml
pandas
scipy
torch
ipynb
lxml
bs4

# Langchain
huggingface_hub
langchain_pinecone
langchain_groq
langchain_core
langchain

# Databases
pinecone-client
chromadb
chroma
google-cloud-storage
pymongo

# API
huggingface_hub
openai
fastapi
nomic
groq

# NLP
sentencepiece
spacy
nltk

# UI
streamlit-extras
streamlit
gradio
